// Typography

$body-font-family: "Inter";

// Colors

$black-memo: #18191B;
$blue-memo: #0B5DD0;
$blue-dark: #0d4189;
$blue-light: #f0f6fe;
$grey: #e1e1e6;
$grey-light: #f9f9fa;

$sidebar-color: $blue-dark;
$body-text-color: $black-memo;
$body-heading-color: $blue-memo;
$link-color: $blue-memo;
$btn-primary-color: $blue-memo;
$feedback-color: darken($sidebar-color, 3%);
$search-result-preview-color: $blue-memo;
$nav-child-link-color: $grey;
$base-button-color: $blue-memo;


// Grid system

$header-height: 100px;

// Borders

$border-color: $grey;
