// Typography

$body-font-family: "Inter";

// Colors

$black-memo: #18191B;
$blue-memo: #0B5DD0;
$blue-bg: #ebf3ff;
$sidebar-color: $blue-bg;
$body-text-color: $black-memo;
$body-heading-color: $black-memo;
$link-color: $blue-memo;
$btn-primary-color: $blue-bg;
$nav-child-link-color: $blue-memo;
