// Typography

$body-font-family: "Inter", sans-serif;

// Colors

$black-memo : #18191B
$blue-memo: #0B5DD0
$sidebar-color: $blue-memo;
$body-text-color: $black-memo;
$body-heading-color: $black-memo;
$link-color: $blue-memo;
$btn-primary-color: $blue-memo;
